<div class="buttons">
  <button class="button print" (click)="saveAsPDF()">Save PDF (color)</button>
  <button class="button print" (click)="printPage()">Print</button>
  <button class="button export" (click)="exportToJson()">Save</button>
  <input
    type="file"
    (change)="importJson($event)"
    style="display: none"
    #fileInput
  />
  <button class="button export" (click)="fileInput.click()">Open</button>
  <button class="invisible"></button>
  <button class="invisible"></button>
</div>
<h1 class="fileName">{{ fileName }}</h1>
<div class="editPanel">
  <!-- Text Formatting Buttons -->
  <button (click)="underlineText()" class="toolbar-button">
    <u>Underline</u>
  </button>
  <button (click)="boldText()" class="toolbar-button">
    <b>Bold</b>
  </button>

  <!-- Font Color Buttons -->
  <div class="color-section font">
    <span class="font-label">Font Color:</span>
    <button (click)="changeFontColor('red')" class="toolbar-button red">
      Red
    </button>
    <button (click)="changeFontColor('blue')" class="toolbar-button blue">
      Blue
    </button>
    <button (click)="changeFontColor('black')" class="toolbar-button">
      Black
    </button>
  </div>
  <button class="toolbar-button" (click)="insertHorizontalLine()">
    Horizontal Line
  </button>

  <div class="flex-spacer"></div>

  <span class="font-size-label">Font Size: {{ fontSize }}</span>
  <button (click)="increaseFontSize()" class="toolbar-button">A+</button>
  <button (click)="decreaseFontSize()" class="toolbar-button">A-</button>
</div>

<div class="printSizeLabel"></div>
<div class="wrapper">
  <div class="top_part">
    <div class="row">
      <div class="column gradbaBroj">
        <textarea
          cdkTextareaAutosize
          class="gradbaBrojInput"
          [(ngModel)]="gradezhnaKnigaInput"
        ></textarea>
      </div>
      <div class="column wide">
        <div class="gradba">
          <input matInput [(ngModel)]="gradbaInputValue" />
        </div>
        <div class="izveduvac">
          <input matInput [(ngModel)]="izveduvacInputValue" />
          <!-- <h2 class="izveduvacTitle">ТИЛ КЕРАМИК 2014 ДООЕЛ</h2> -->
        </div>
      </div>
      <div class="column datum">
        <div class="gradba">
          <div>книга бр.</div>
          <input matInput [(ngModel)]="knigaInputValue" class="knigaInput" />
        </div>
        <div class="izveduvac">
          <div>ден / датум:</div>
          <input matInput [(ngModel)]="datumInputValue" class="datumInput" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="pozicija">
        <textarea
          cdkTextareaAutosize
          [(ngModel)]="pozicijaInputValue"
          [style.font-size.px]="fontSizePozicija"
        ></textarea>
      </div>
      <div class="merka">
        мерка
        <input matInput [(ngModel)]="merkaInputValue" />
      </div>
      <div class="cena">
        цена
        <input matInput [(ngModel)]="cenaInputValue" />
      </div>
    </div>
    <table class="mainTable">
      <thead>
        <tr class="headerRow">
          <th class="tRedenBroj">Реден број</th>
          <th class="tSostav">
            <textarea
              cdkTextareaAutosize
              [(ngModel)]="tableTitleInputValue"
              class="tableTitleInputValue"
            ></textarea>
          </th>
          <th class="tKolicina">количина</th>
          <th class="tCena">цена</th>
          <th class="tVkupno">вкупно</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData; let i = index">
          <td>
            <div
              contenteditable="true"
              [(ngModel)]="row.redenBrojArea"
              class="editableDiv redenBrojArea"
              [style.font-size.px]="fontSize"
              id="editableDiv"
              spellcheck="false"
            ></div>
          </td>
          <td>
            <div
              contenteditable="true"
              [(ngModel)]="row.textAreaInput"
              class="editableDiv textArea"
              [style.font-size.px]="fontSize"
              spellcheck="false"
            ></div>
          </td>
          <td>
            <div
              contenteditable="true"
              [(ngModel)]="row.kolicinaArea"
              class="editableDiv kolicinaArea"
              [style.font-size.px]="fontSize"
              spellcheck="false"
            ></div>
          </td>
          <td>
            <div
              contenteditable="true"
              [(ngModel)]="row.cenaArea"
              class="editableDiv cenaArea"
              [style.font-size.px]="fontSize"
              spellcheck="false"
            ></div>
          </td>
          <td>
            <div
              contenteditable="true"
              [(ngModel)]="row.vkupnoArea"
              class="editableDiv vkupnoArea"
              [style.font-size.px]="fontSize"
              spellcheck="false"
            ></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="bottom_part">
    <div class="prenos">
      <div class="div0">
        <input
          matInput
          [(ngModel)]="preVkupnoInputValue"
          class="preVkupnoInputValue"
        />
      </div>
      <div class="div1">вкупно =</div>
      <div class="div4">
        <input matInput [(ngModel)]="div4InputValue" />
      </div>
    </div>

    <div class="fullBottom">
      <div class="fullBottomIzveduvac">изведувач: Дритон Шерифи</div>
      <div class="fullBottomInzener">надзорниот инженер</div>
    </div>
  </div>
</div>
<div class="pageEnd"></div>
