.buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 960px;
  margin-top: 40px;
  margin-bottom: 16px;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .print {
    background-color: #007bff;
  }

  .print:hover {
    background-color: #0056b3;
  }

  .edit {
    background-color: #00b630;
  }

  .edit:hover {
    background-color: #008f07;
  }

  .export {
    background-color: #b61b00;
  }

  .export:hover {
    background-color: #8d1601;
  }

  .invisible {
    visibility: hidden;
    width: 110px;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
  }
}

.font-size-label {
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin-right: 24px; /* Adds space between the label and the buttons */
}

.fileName {
  margin: auto;
  width: 960px;
  height: 32px;
  margin-bottom: 8px;
}

.editPanel {
  width: 940px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.toolbar-button {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, border-color 0.3s;
}

.toolbar-button u {
  text-decoration: underline;
}

.toolbar-button b {
  font-weight: bold;
}

.toolbar-button:hover {
  background-color: #e7e7e7;
  border-color: #999;
}

.toolbar-button.red {
  color: red;
}

.toolbar-button.blue {
  color: blue;
}

.toolbar-button.black {
  color: black;
}

.toolbar-button:active {
  background-color: #d7d7d7;
}

.toolbar-button:focus {
  outline: none;
}

.flex-spacer {
  flex: 1;
}

.color-section {
  display: flex;
  align-items: center;
  margin: 2px 10px;
}

.color-section span {
  margin-right: 10px;
}

.custom-underline {
  text-decoration: none; /* Remove the default underline */
  border-bottom: 2px solid currentColor; /* Add custom underline */
  padding-bottom: 18px; /* Adjust this value to move the underline down */
}

.editableDiv {
  border: 1px solid #ccc; /* Always show border */
  font-size: 21px;
  padding: 2px;
  min-height: 20px; /* Ensure there's some minimum height */
  transition: border-color 0.3s;
  outline: none; /* Remove the default outline on focus */
  font-family: monospace !important;
}

.editableDiv:focus {
  border-color: #999; /* Optional: Change border color on focus */
}

hr {
  margin-block-start: 1px !important; /* Reducing the top margin */
  margin-block-end: 1px !important; /* Reducing the bottom margin */
  border-color: black !important;
}

.printSizeLabel {
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  position: absolute;
  top: 201px;
  left: 360px;
  z-index: -1;
  width: 600px;
  height: 1266px;
  margin: auto;
}

.wrapper {
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  // min-height: 100vh;
  margin: auto;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top_part {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
}

.row {
  display: flex;
}

.column {
  border: 1px solid black;
}

.gradbaBroj {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 238px;
}

.gradbaBrojInput {
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  height: 66px !important;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.kniga {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 238px;
}

.knigaInput,
.datumInput {
  width: 116px !important;
}

.wide {
  width: 532px;
}

.datum {
  width: 260px;
}

.gradba,
.izveduvac,
.investor,
.investor_blank,
.adresa,
.adresa_blank,
.pozicija,
.merka,
.cena {
  border: 1px solid black;
}

.investor,
.adresa {
  min-width: 205px;
  padding-left: 6px;
}
.investor_blank,
.adresa_blank {
  flex: 3;
}

.gradba,
.izveduvac {
  height: 40px;
  padding-left: 6px;
  display: flex;

  input {
    width: 420px;
    font-size: 22px;
    margin-left: 6px;
    margin-top: 1px;
    height: 33px;
    text-align: center;
    font-weight: bold;
  }
}

.newRowLabel {
  width: 214px;
  height: 44px;
  border: 1px solid black;
  padding-left: 6px;
}

.newRowInput {
  width: 732px;
  border: 1px solid black;
  padding: 2px;
}

.newRowTextInput {
  width: 99%;
  height: 36px;
  font-size: 22px;
}

.add-button {
  width: 100px;
}

.izveduvacTitle {
  margin: auto;
}

.investor_blank,
.adresa_blank {
  input {
    width: 698px;
    font-size: 20px;
    margin-left: 6px;
    margin-top: 1px;
    height: 33px;
    text-align: center;
  }
}

.pozicija input {
  width: 680px;
  font-size: 20px;
  margin-left: 6px;
  margin-top: 10px;
  height: 36px;
  text-align: center;
}

.writeLine {
  height: 1px;
  width: 99%;
  border-top: 1px solid black;
  margin-top: 12px;
}

.writeLine2 {
  height: 1px;
  width: 98%;
  border-top: 1px solid black;
  margin: 42px auto 0px;
}

.rowMid {
  height: 48px;
}

.gradeznaPozicija {
  padding-bottom: 4px;
  font-size: 16px;
}

.pozicija {
  display: grid;
  flex: 6;
  padding: 4px 26px 2px 6px;

  button {
    width: 24px;
  }

  textarea {
    text-align: center;
    font-weight: bold;
    height: 46px !important;
  }
}

.merka,
.cena {
  flex: 1;
  padding: 2px 0px 0px 4px;

  input {
    width: 104px;
    font-size: 22px;
    height: 48px;
    text-align: center;
    font-weight: bold;
    margin-top: 4px;
  }
}

.fullBottom {
  display: flex;
  height: 54px;
  font-weight: bold;

  .fullBottomIzveduvac {
    border: 1px solid black;
    flex: 1;
    padding-left: 10px;
  }

  .fullBottomInzener {
    border: 1px solid black;
    flex: 1;
    padding-left: 10px;
    padding-top: 26px;
  }
}

.pageEnd {
  height: 30px;
}

.tableTitleInputValue {
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;

  tbody {
    height: 856px;
  }

  th {
    border: 1px solid black;
    padding: 0px 7px;
    text-align: center;
  }

  td {
    padding: 6px;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: none;
    page-break-inside: avoid;
    vertical-align: top;
  }

  td:nth-child(2) {
    width: 560px;
    text-align: left;
    padding-left: 8px;
  }

  .redenBrojArea {
    width: 32px;
  }

  textArea {
    width: 100%;
    overflow-y: hidden;
    min-height: 40px;
    page-break-inside: avoid;
    font-weight: bold;
  }
}

.tRedenBroj {
  width: 20px;
}

.tKolicina,
.tMerka {
  width: 50px;
}

.tCena {
  width: 70px;
}

.tVkupno {
  width: 90px;
}

.kolicinaArea,
.merkaArea,
.cenaArea,
.vkupnoArea {
  text-align: center;
}

.prenos {
  border: 1px solid black;
  height: 44px;
  display: flex;

  input {
    height: 30px;
    font-size: 22px;
    font-weight: bold;
    margin: 4px 4px;
    width: 94px;
  }

  .div0 {
    width: 741px;
  }

  .preVkupnoInputValue {
    width: 726px;
  }

  .div1 {
    border: 1px solid black;
    justify-content: end;
    width: 614px;
    display: flex;
    align-items: center;
    padding-right: 12px;
  }

  .div2, .div3, .div4 {
    border: 1px solid black;
    width: 108px;
  }
  
  .div2 input, .div3 input, .div4 input {
    text-align: center;
  }
}

.mat-input-element[disabled] {
  color: inherit;
  cursor: auto;
  pointer-events: none;
  background-color: transparent; /* or any other desired background color */
  border: none; /* or any other desired border style */
}

textarea[disabled] {
  color: inherit;
  cursor: auto;
  pointer-events: none;
  background-color: transparent; /* or any other desired background color */
  // border: none; /* or any other desired border style */
}

.delete-button {
  margin-top: 16px;
  color: #da0b0b;
}

@media print {
  .buttons,
  .fileName,
  .editPanel,
  .pageEnd,
  .add-button,
  .new-row-button,
  .delete-button,
  .printSizeLabel {
    display: none;
  }

  .pozicija button {
    display: none;
  }

  .gradba input,
  .izveduvac input,
  .investor_blank input,
  .adresa_blank input,
  .pozicija input,
  .merka input,
  .cena input,
  textArea,
  .div2 input,
  .div3 input,
  .preVkupnoInputValue,
  .div2 input,
  .div3 input,
  .div4 input,
  .gradbaBrojInput,
  .editableDiv,
  .newRowTextInput {
    border: none;
  }

  textarea {
    overflow: hidden !important;
  }
}
