<div class="buttons">
  <button class="button print" (click)="printThisPage()">Print</button>
  <button class="button export" (click)="exportToJson()">Export</button>
  <input
    type="file"
    (change)="importJson($event)"
    style="display: none"
    #fileInput
  />
  <button class="button export" (click)="fileInput.click()">Import</button>
  <button class="button edit" (click)="increaseFontSize()">Font +</button>
  <button class="button edit" (click)="decreaseFontSize()">Font -</button>
  <button class="invisible"></button>
  <button class="invisible"></button>
</div>
<h1 class="fileName">{{ fileName }}</h1>

<div class="wrapper">
  <div class="top_part">
    <div class="row">
      <div class="column gradbaBroj">
        <b
          ><input
            class="gradbaBrojInput"
            matInput
            [(ngModel)]="gradezhnaKnigaInput"
        /></b>
      </div>
      <div class="column wide">
        <div class="gradba">
          <input matInput [(ngModel)]="gradbaInputValue" />
        </div>
        <div class="izveduvac">
          <input matInput [(ngModel)]="izveduvacInputValue" />
          <!-- <h2 class="izveduvacTitle">ТИЛ КЕРАМИК 2014 ДООЕЛ</h2> -->
          <!-- <h2 class="izveduvacTitle">ПРОФИНГ АРТ ДООЕЛ</h2> -->
        </div>
      </div>
      <div class="column datum">
        <div class="gradba">
          <div>книга бр.</div>
          <input matInput [(ngModel)]="knigaInputValue" class="knigaInput" />
        </div>
        <div class="izveduvac">
          <div>ден / датум:</div>
          <input matInput [(ngModel)]="datumInputValue" class="datumInput" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="pozicija">
        <!-- <button (click)="increasePozicijaFontSize()">+</button>
        <button (click)="decreasePozicijaFontSize()">-</button> -->
        <textarea
          cdkTextareaAutosize
          [(ngModel)]="pozicijaInputValue"
          [style.font-size.px]="fontSizePozicija"
        ></textarea>
      </div>
      <div class="merka">
        мерка
        <input matInput [(ngModel)]="merkaInputValue" />
      </div>
      <div class="cena">
        цена
        <input matInput [(ngModel)]="cenaInputValue" />
      </div>
    </div>
    <!-- <button class="new-row-button" (click)="addNewRow()">New Row</button> -->
    <table class="mainTable">
      <thead>
        <tr class="headerRow">
          <th class="tRedenBroj">Реден број</th>
          <th class="tSostav">
            <textarea
              cdkTextareaAutosize
              [(ngModel)]="tableTitleInputValue"
              class="tableTitleInputValue"
            ></textarea>
          </th>
          <th class="tKolicina">количина</th>
          <!-- <th class="tMerka">мерка</th> -->
          <th class="tCena">цена</th>
          <th class="tVkupno">вкупно</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData; let i = index">
          <td>
            <textarea
              #textareaElement
              cdkTextareaAutosize
              [(ngModel)]="row.redenBrojArea"
              class="redenBrojArea"
              [style.font-size.px]="fontSize"
              (keydown)="handleKeydown($event, i, 'redenBrojArea')"
            ></textarea>
          </td>
          <td>
            <textarea
              #textareaElement
              cdkTextareaAutosize
              [(ngModel)]="row.textAreaInput"
              class="textArea"
              [style.font-size.px]="fontSize"
              (keydown)="handleKeydown($event, i, 'textAreaInput')"
            ></textarea>
          </td>
          <td>
            <textarea
              #textareaElement
              cdkTextareaAutosize
              [(ngModel)]="row.kolicinaArea"
              class="kolicinaArea"
              [style.font-size.px]="fontSize"
              (keydown)="handleKeydown($event, i, 'kolicinaArea')"
            ></textarea>
          </td>
          <!-- <td>
            <textarea
              cdkTextareaAutosize
              [(ngModel)]="row.merkaArea"
              class="merkaArea"
              [style.font-size.px]="fontSize"
            ></textarea>
          </td> -->
          <td>
            <textarea
              #textareaElement
              cdkTextareaAutosize
              [(ngModel)]="row.cenaArea"
              class="cenaArea"
              [style.font-size.px]="fontSize"
              (keydown)="handleKeydown($event, i, 'cenaArea')"
            ></textarea>
          </td>
          <td>
            <textarea
              #textareaElement
              cdkTextareaAutosize
              [(ngModel)]="row.vkupnoArea"
              class="vkupnoArea"
              [style.font-size.px]="fontSize"
              (keydown)="handleKeydown($event, i, 'vkupnoArea')"
            ></textarea>
          </td>
          <!-- <button (click)="removeRow(i)" mat-icon-button class="delete-button">
            <mat-icon>delete</mat-icon>
          </button> -->
        </tr>
      </tbody>
    </table>
  </div>
  <div class="bottom_part">
    <div class="prenos">
      <div class="div0">
        <input
          matInput
          [(ngModel)]="preVkupnoInputValue"
          class="preVkupnoInputValue"
        />
      </div>
      <div class="div1">вкупно =</div>
      <div class="div4">
        <input matInput [(ngModel)]="div4InputValue" />
      </div>
    </div>

    <div class="fullBottom">
      <div class="fullBottomIzveduvac">изведувач: Дритон Шерифи</div>
      <div class="fullBottomInzener">надзорниот инженер</div>
    </div>
  </div>
</div>
<div class="pageEnd"></div>
